body {
    margin: 40px; 
    font-weight: bold;
    color: white;
    background-color: #1F2937;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

h1 {
    margin-bottom: 0px;
    
}

h2 {
    color: #4ADF86;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 34px;
    
}

h3 {
    font-size: 15px;
    color: lightgray;
    margin-bottom: 45px;
    font-weight: normal
    
}

button {
    background-color: #10B981;
    border: none;
    padding: 10px 24px;
    color: white;
    border-radius: 5px;
    margin-top: -5px;
    cursor: pointer;  
}



div {
    font-size: 12px;
    color: #4ADF86;
      
}

#genPassword{
    margin-top: 10px;
    margin-left: 38px;
}

#genPasswordTwo{
    margin-top: -13px;
    margin-left: 255px;
}


#box {
    width: 200px;
    height: 45px;
    border: thick;
    margin-left: 0px;
    border-radius: 6px;
    
    
}

#box1 {
    width: 200px;
    height: 45px;
    border: thick;
    margin-left: 218px;
    border-radius: 6px;
    margin-top: -53px
    
    
}

hr {
    margin-top: 10px;
    height: 1px;
    background-color: #273549;
    border: none;
    
    
}